<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
  <ion-title>Add project</ion-title>
</ion-toolbar>


<ion-content>
  <ion-grid class="projectinput">
    <ion-row>
      <ion-col>
        <h1> Add new project
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item class="projectinput">
        <ion-label position="stacked">Project Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-button color="primary">Submit</ion-button>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>